<% content_for(:title) { 'Home' } %>
<h1>Welcome to Ruby Gardens Home</h1>
Наша миссия

RubyGardens – это не только сеть центров переобучения на Ruby, но также своего рода проект, способствующий продвижению Ruby. В то время как курсанты проходят переподготовку сотрудники RubyGardens прилагают все усилия, чтобы:

Изменить консервативные взгляды Как правило, любое обсуждение вида Ruby vs. X Language превращается в бурный холивар. Миссия RubyGardens не просто добавить очередную искру в обсуждения, а на практике продемонстрировать, почему именно Ruby и для чего опытному разработчику стоит серьезно рассматривать возможность перехода на Ruby. 

Показать преимущества Ruby на практических примерах Опыт работы в проектах с мировым именем тренеров RubyGardens со временем трансформировался в кладезь мудрости практических навыков. RubyGardens претворяет в жизнь политику того, что теория без практики мертва.

Взрастить новое поколение рубистов с высоким уровнем мотивации RubyGardens в значительной мере требовательно подходит к вопросам личной мотивации перехода на Ruby. Зачастую последним решающим фактором в ответе на вопрос «для чего я хочу разрабатывать на Ruby» выступает ликбез со стороны RubyGardens. 
